{% include base_path %}

{% for paper in _publications/wp.yaml %}
<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ paper.permalink }}" rel="permalink">{{ paper.title }}</a>
    </h2>
    
    <p><strong>Authors:</strong> {{ paper.authors }}</p>

    <p><strong>Abstract:</strong> {{ paper.excerpt }}</p>

    <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Published:</strong> <time datetime="{{ paper.date }}">{{ paper.date | date: "%B %d, %Y" }}</time></p>

    <p>
      <a href="{{ paper.paperurl }}" class="btn btn-primary" download>Download Paper</a>
      <a href="{{ paper.slidesurl }}" class="btn btn-secondary" download>Download Slides</a>
    </p>

    <p><strong>Citation:</strong> {{ paper.citation }}</p>

  </article>
</div>
{% endfor %}
